{% extends "auctions/layout.html" %}

{% block body %}
<h2>Results for {{ cat_name }}</h2> <!-- REVIEW: make loop  -->


{% for item in list_items   %}
<span><br></span>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{item.imageUrl}}">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">{{item.description}}</p>
    <p>Current Bid: {{item.start_price}}</p>
    <form action="#" method="GET">
      <input type="text"><br>
      <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
  </div>
</div>
<!--call function django template (highest price)
getcurrentprice-->
{% endfor %}
{% endblock %}