{% extends "auctions/layout.html" %}
<!-- Create Listing page allows signed to create listing-->

{% block body %}
<h2>Create Listings</h2>
<!-- Form here is captured by the create_listing view -->
<form action="{% url 'create_listing' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input autofocus class="form-control" type="text" name="postTitle" placeholder="Post Title">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="5" name="postDes" placeholder="Post Description"></textarea>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="imgUrl" placeholder="image Url">
  </div>
  <div class="form-group">
    <select class="form-control" type="text" name="catgyName" placeholder="Category Name">
      <option>Test</option>
    </select>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" name="startPrice" min="1" step="any" placeholder="Start Price">
  </div>
  <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}