{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listing: {{get_item.name}}</h2> <!-- REVIEW: make loop  -->
<span><br></span>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{get_item.imageUrl}}">
  <div class="card-body">
    <form action="{% url 'placeBid' %}" method="POST">
      {% csrf_token %}
      <h1 name="itemID" hidden>{{get_item.id}}</h1>
      <h5 name="title_name" class="card-title">{{get_item.name}}</h5>
      <p class="card-text">{{get_item.description}}</p>
      <p>Current Bid: {{get_item.start_price}}</p>
      <input type="number" name="bid" min="1" step=".01"><br>
      <input class="btn btn-primary" type="submit" value="Place Bid">
    </form>
  </div>
</div>
{% endblock %}